<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container" style="margin-left: 200px">
    <br/>
    <div class="row justify-content-left">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" action="/search/main" method="post">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" name="searchText" type="text" placeholder="Search topics or keywords">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>

    <div class="container" xmlns:th="http://www.w3.org/1999/xhtml" th:each="searchResult : ${searchResults}">
        <div class="flex-row flex-md-row align-items-left p-3 mb-3 bg-white  shadow-sm border-top border-bottom border-left border-right row">
            <a class="col" th:href="@{/document/{id}(id=${searchResult.document.id})}" th:text="${searchResult.document.title}" ></a>
            <div class="w-100"></div>
            <div class="col" th:text="${searchResult.document.text}"></div>
            <div class="w-100"></div>
            <div class="col" th:text="${searchResult.rank}"></div>
        </div>
    </div>
</div>
